{% extends "base.html" %}

{% block content%}
<main class="main main--about">
    <p>
        Hi, my name is Ricardo Donino and I am a Software Engineer with extensive experience in each step of the SDLC and critical exposure to commercial roles in different industries (Oil & Gas, Clothing, Information Technology).
    </p>
    <p>
        I thrive working under pressure in multi-cultural, diverse and fast-paced environments collaborating with high-performing teams.
    </p>
    <p>
        My education include a Bachelor's degree of Science in Computer Science, a  Master in Oil & Gas Production, and several certifications such as PRINCE2® Foundation, PRINCE2® Practitioner, ScrumMaster® and ITIL® Foundation.
    </p>
    <p>
        My favourite software development language is Python3 alongside libraries like Flask & Jinja2, Numpy, Pandas, Tkinter, MathPlotLib and Pytest among others.
        I worked with SQL and non-SQL databases such as SQLite, Postgree SQL, MySQL and MongoDB.
    </p>

</main>

{% endblock %}