{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt class="contact__title">Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:radonino@gmail.com">radonino[at]gmail.com</a>
            </dd>
        </div>
        <div class="contact">
            <dt class="contact__title">LinkedIn:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/ricardo-donino-31802781/" target="_blank">@RicardoDonino</a>
                </dd>
        </div>
        <div class="contact">
            <dt class="contact__title">GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/RickDond"  target="_blank">@RickDond</a>
                </dd>
        </div>
        <div class="contact">
            <dt class="contact__title">Twitter:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://twitter.com/DoninoRicardo"  target="_blank">@DoninoRicardo</a>
                </dd>
        </div>
        <div class="contact">
        <dt>Facebook:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.facebook.com/ricardo.donino"  target="_blank">@RicardoDonino</a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}